CompileFlags:
  Remove:
    - -mlongcalls
    - -mtext-section-literals
    - -fno-tree-switch-conversion
    - -mfix-esp32-psram-cache-issue
    - -mfix-esp32-psram-cache-strategy=*
    - -fno-shrink-wrap
    - -fstrict-volatile-bitfields
